@use "../../scss/index" as *;

.side-bar {
    line-height: 3rem;
    position: relative;
    z-index: 10;
    width: 4rem;
    min-height: 100vh;
    height: 100%;
    flex-shrink: 0;

    @include mobile {
        line-height: unset;

        position: fixed;
        width: 100%;
        height: 3rem;
        bottom: 0;
        background-color: #06090d;
        display: flex;
        align-items: center;
        min-height: unset;
    }

    &__login {
        position: relative;
    }

    &__content {
        position: fixed;
        z-index: 10;
        height: 100vh;
        width: 4rem;
        @include flex(center, space-evenly);
        flex-direction: column;
        background-color: $a1-hex;

        @include mobile {
            width: 100%;
            height: 3rem;
            min-height: none;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    &__logo {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }

        &::after {
            content: "";
            border: 1px solid $color-text-1;
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            transform: translateY(11px);
        }
    }

    &__list {
        @include flex(center, unset);
        flex-direction: column;
        row-gap: 8rem;

        @include mobile {
            height: 3rem;
            min-height: none;
            flex-direction: row;
            column-gap: 3rem;
        }
        .side-bar__item {
            width: 22px;
            height: 22px;
        }
    }

    &__icon {
        cursor: pointer;
        font-size: 1.4rem;
    }
    .activeLink {
        color: $a5-hex;
        // background-color: $a2-hex;
    }
}

.as {
    color: #06090d;
}
