@use "../../scss/index" as *;

.navbar-left {
    line-height: 3rem;
    position: relative;
    width: 6%;
    box-shadow: 3px 7px 15px 0px $a2-hex;
    z-index: 10;
    min-height: 100vh;

    @include mobile {
        position: fixed;
        width: 100%;
        height: 4vh;
        min-height: 4vh;
        bottom: 0;
        background-color: $a1-hex;

        display: flex;
        align-items: center;
    }

    &__list {
        position: fixed;
        z-index: 10;
        height: 100vh;
        overflow-y: auto;
        width: 6%;

        @include flex(center, space-evenly);
        flex-direction: column;

        @include mobile {
            width: 100%;
            height: 4vh;
            min-height: none;
            flex-direction: row;
        }
    }

    &__icon {
        cursor: pointer;
        font-size: 1.2rem;

        &:hover {
            color: $a4-hex;
        }
    }
}
