@use "../../scss/index" as *;

.catalog {
    &__games {
        padding: 0.5rem;
    }
    &__title {
        text-transform: uppercase;
        padding: 1rem 0;
    }

    &__genres {
        padding: 2rem;

        &-list {
            @include flex(center, center);
            gap: 20px;

            .catalog__genres-item {
                background-color: $a3-hex;
                padding: 5px 8px;
                border-radius: 8px;
                cursor: pointer;
                transition: all 0.5s;

                &:hover {
                    background-color: $a5-hex;
                }
            }
        }
    }

    &__list {
        @include flex(center, center);
        gap: 43px 25px;
    }
}
