@use "../../scss/index" as *;

.gamegrid {
    position: relative;
    overflow: hidden;
    &__img {
        height: 100%;
        &-content {
            border-radius: 10px;
        }
    }

    .gamegrid__info {
        @include flex(center, center);
        flex-direction: column;
        text-align: center;

        position: absolute;
        bottom: 0px;
        gap: 5px;
        width: 50%;
        height: 100%;
        border-radius: 0 0 4px 4px;
        transition: all 0.5s;
        background-color: $a2-hex;
        &__name {
            text-align: center;
        }
    }
    .gamegrid__genres-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 8px;
    }

    .gamegrid__genres-item {
        font-size: medium;
        color: $color-text-2;
        padding: 2px;
    }

    .gamegrid__info-metacritic {
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px 20px;
        border-radius: 2px;
        font-weight: bolder;
        font-size: small;
        color: $color-text-1;
    }

    &:hover {
        .gamegrid__info {
            transition: all 0.8s;
            transform: translateX(-100%);
            opacity: 0;
        }
    }
}
