@use "../../scss/index" as *;

.gamegrid {
    position: relative;
    overflow: hidden;

    height: 100%;
    width: 100%;

    &__img {
        height: 100%;
        // width: 100%;

        &-content {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            min-height: 153px;
        }
    }

    &:nth-child(3) {
        grid-row: 1 / 3;

        @include tablet {
            grid-column: 1/3;
        }

        @include mobile {
            grid-column: unset;
            grid-row: 0 / 3;
        }
    }

    &__info {
        @include flex(center, center);
        flex-direction: column;
        text-align: center;
        padding: 5px;

        position: absolute;
        bottom: 0px;
        gap: 5px;
        width: 50%;
        height: 100%;
        border-radius: 0 0 4px 4px;
        transition: all 0.5s;
        background-color: $a2-hex;

        &__name {
            text-align: center;
        }
    }

    &__info-metacritic {
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px 20px;
        border-radius: 2px;
        font-weight: bolder;
        font-size: small;
        color: $color-text-1;
    }

    &:hover {
        .gamegrid__info {
            transition: all 0.8s;
            transform: translateX(-100%);
            opacity: 0;
        }
    }
}
