@use "../../scss/index" as *;

.gamegrid {
    position: relative;
    overflow: hidden;
    &__img {
        height: 100%;
        &-content {
            border-radius: 10px;
        }
    }

    .gamegrid__info {
        position: absolute;
        bottom: 0px;
        background-color: #121b26;
        border-radius: 0 0 4px 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        width: 50%;
        height: 100%;
        transition: all 0.5s;

        &__rating {
            position: absolute;
            top: 0;
            right: 0;
            background-color: rgb(220, 200, 27);
            padding: 2px 4px;
            border-radius: 2px;
            font-weight: bolder;
            font-size: small;
            color: rgb(29, 29, 29);
        }
        &__name {
            text-align: center;
        }
    }
    .gamegrid__genres-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .gamegrid__genres-item {
        font-size: medium;
        color: $color-text-2;
        // display: none;
        // opacity: 0.5;
    }

    &:hover {
        // transition: all 0.5s;
        .gamegrid__info {
            transition: all 0.8s;
            transform: translateX(-100%);
            opacity: 0;
        }
    }
}
