@use "../../scss/" as *;

.home {
    padding: 1rem;
}

.home__game-grid {
    margin: 3rem 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 10px;

    @include mobile {
        grid-template-columns: 1fr;
    }
}

.home__banner {
    background-image: url(https://youthcoop.pt/wp-content/uploads/2020/02/Tarde-de-Jogos-banner-CMSintra-img-8x5-1.png);
    padding: 34px 15px;
    background-attachment: fixed;
    border-radius: 5px;
}

.list__horizont {
    display: flex;
    column-gap: 5px;
    overflow: hidden;
    background-color: $a1-hex;

    position: relative;
    &::after {
        content: " ";
        width: 100%;
        position: absolute;
        height: 1rem;
        background-color: $a1-hex;
        bottom: 0;
        z-index: 2;
        transform: translate(0px, 8px);
    }

    &::before {
        z-index: 2;
        content: " ";
        width: 100%;
        position: absolute;
        height: 1rem;
        background-color: $a1-hex;
        top: 0;
        transform: translate(0px, -8px);
    }
}
