@use "../../scss/" as *;

.home {
    padding: 1rem;
    height: 100vh;
}

.home__list {
    @include flex(center, center);
    flex-wrap: wrap;
    gap: 10px;
}

.home__game-grid {
    margin: 3rem 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 10px;

    @include mobile {
        grid-template-columns: 1fr;
    }
}

.a {
    display: flex;
    column-gap: 5px;

    position: relative;
    &::after {
        content: " ";
        width: 100%;
        position: absolute;
        height: 1rem;
        background-color: $a1-hex;
        bottom: 0;
        z-index: 2;
        transform: translate(0px, 8px);
    }

    &::before {
        z-index: 2;
        content: " ";
        width: 100%;
        position: absolute;
        height: 1rem;
        background-color: $a1-hex;
        top: 0;
        transform: translate(0px, -8px);
    }
}
