.list {
    .list__img-content {
        width: 110px;
        height: 380px;
        transform: rotateZ(5deg) translateX(-16px);
        overflow: hidden;

        .list__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.5s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
