@use "../../scss/" as *;
.nav {
    @include flex(center, flex-start);
    column-gap: 10px;
    padding: 1rem 2rem;
    position: relative;

    &__logo {
        width: 35px;
        height: 35px;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__input-box {
        flex: 1;

        input {
            width: 47%;
            outline: none;
            height: 30px;
            padding: 8px;

            @include tablet {
                width: 60%;
            }

            @include mobile {
                width: 80%;
            }
        }

        button {
            cursor: pointer;
            color: white;
            border: none;
            padding: 5px 8px;
            background-color: unset;
            border-radius: 10px;
        }
    }

    &__game-list {
        background-color: $a2-hex;
        padding: 10px;
        position: absolute;
        z-index: 102;
        border-radius: 0 0 10px 10px;
        width: 47%;

        @include tablet {
            width: 60%;
        }

        @include mobile {
            width: 80%;
        }
    }
    &__game-item {
        @include flex(center, flex-start);
        flex-wrap: nowrap;
        margin: 10px 0;
    }

    &__game-img {
        width: 80px;
        height: 58px;
        margin-right: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__game-name {
        flex: 1;
    }
}
