@use "../../scss/" as *;
.gamelist {
    max-width: 324px;
    height: 317px;
    // height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 25px;
    position: relative;
    box-shadow: 10px 12px 5px #121b2645;

    &__content-img {
        height: 212.39px;
        .gamelist__img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 20px 20px 0 0;
        }
    }

    &__info {
        width: 100%;
        height: 33%;
        background-color: $a2-hex;
        border-radius: 0 0 4px 4px;
        @include flex(center, center);
        flex-direction: column;
        gap: 5px;

        &-rating {
            position: absolute;
            top: 0;
            right: 0;

            padding: 15px 20px;
            border-radius: 2px 20px 2px 2px;
            font-weight: bolder;
            font-size: small;
            color: $color-text-1;
        }

        &-name {
            text-align: center;
        }
    }

    &__genres-list {
        @include flex(center, center);
        flex-wrap: wrap;
        column-gap: 8px;

        .gamelist__genres-item {
            span {
                font-size: medium;
                color: $color-text-2;
            }
        }
    }
}
