@use "../../scss/" as *;

.details {
    margin-top: -215px;
    position: relative;

    &__list {
        @include flex(center, center);
        gap: 14px;
    }

    &__title {
        padding: 0rem 1rem;
    }

    .img {
        border: 2px solid $color-text-1;
    }

    &__container {
        padding: 1.2rem 2rem;
    }

    &__trailer {
        &__list {
            @include flex(center, space-between);
            flex-wrap: nowrap;
            overflow-x: auto;
            gap: 15px;
            padding: 2px;

            .details__trailer__item {
                width: 100%;
                height: 100%;
            }

            &::-webkit-scrollbar {
                width: 100%;
                height: 10px;
            }

            &::-webkit-scrollbar-track {
                background: $a2-hex;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $a3-hex;
                border-radius: 20px;
            }
        }
    }

    &__related {
        padding: 1rem;
    }

    &__screnshot {
        &-list {
            &-item {
                width: 378px;
                height: 209px;

                border-radius: 5px;
                @include tablet {
                    width: 338px;
                    height: 169px;
                }

                @include mobile {
                    width: 248px;
                    height: 129px;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
        }
    }

    &__achievements {
        &-list {
            max-width: 1323px;
            @include flex(center, center);
            gap: 10px;
            padding: 10px;
        }

        &-item {
            @include flex(center, unset);
            gap: 10px;
            flex-wrap: nowrap;

            width: max-content;
            padding: 10px;
            border-bottom: 1px solid $a3-hex;
            border-radius: 5px;
            flex: 1 auto;

            &:nth-child(2n + 1) {
                flex-direction: row-reverse;
                background-color: $a2-hex;
            }
        }

        &-info {
            flex: 1;

            .details__achievements-per {
                background-color: $a3-hex;
                border-radius: 5px;
                padding: 5px 8px;
                margin: 10px;
                width: fit-content;
            }
        }

        &-img {
            width: 64px;
            height: 64px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__tags {
        margin: 1rem 0 0 0;

        .details__tag {
            border-radius: 5px;
            border: 2px solid $a3-hex;
            padding: 2px 5px;
            color: $a5-hex;
            cursor: pointer;
        }

        &-list {
            flex-wrap: wrap;
            padding: 1rem;
            background-color: $a2-hex;
        }
    }
}

.banner {
    height: 50vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &-blur {
        backdrop-filter: blur(6px);
        width: 100%;
        height: 100%;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($a1-hex, 0.6);
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, $a1-hex, rgba(#000, 0));
    }
}
