@use "../../../../scss/" as *;

.details__game {
    backdrop-filter: blur(1px);

    &-head {
        text-align: center;
        @include flex(center, center);
        flex-direction: column;

        .details__game-title {
            font-size: 1.7em;
            padding: 0.5rem 0;
        }

        .details__game-banner {
            border-radius: 5px;
            width: 400px;
            height: 200px;

            @include mobile {
                width: 320px;
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .details__game-meta-btn {
            padding: 5px 10px;
            background-color: $a5-hex;
            @include flex(center, center);
            gap: 5px;
            cursor: pointer;
            color: $color-text-1;

            &:hover {
                background-color: $a4-hex;
            }
        }

        .details__game-publishers {
            display: flex;
            gap: 10px;

            .details__game-publisher {
                padding: 2px 0;
            }
        }
    }

    &-info {
        display: flex;
        margin: 0 auto;
        gap: 3rem;
        padding: 2rem 1rem;

        @include tablet {
            flex-direction: column;
        }

        .details__game-about {
            flex: 1;
            max-height: 378px;
            height: 100%;

            &-box {
                p {
                    line-height: 1.2rem;
                    padding: 10px 0;
                }
                br {
                    padding: 5rem;
                }
            }
        }

        .details__game-meta {
            display: grid;
            grid-template-columns: repeat(3, 0.5fr);
            justify-items: center;
            gap: 20px 10px;
            flex: 1;

            @include mobile {
                grid-template-columns: repeat(2, 1fr);
            }

            &-block {
                .details__game-meta-list {
                    @include flex(flex-start, unset);
                    flex-direction: column;

                    .text-item {
                        list-style-type: circle;
                    }
                }

                .text-link {
                    text-decoration: revert;
                }

                .details__game-meta-title {
                    padding: 10px 0;
                    color: $color-text-2;
                }

                .details__game-meta-text {
                    font-size: 0.9rem;
                }

                .details__game-metascore {
                    width: 45px;
                }
                .red {
                    color: red;
                }

                .green {
                    color: green;
                    border: 2px solid green;
                    background-color: unset;
                    padding: 10px;
                    border-radius: 5px;
                }
            }
        }

        &-box {
            flex: 1;
        }
    }
}
