@use "../../scss/" as *;

.is-logged {
    &__btns {
        @include flex(center, center);
        gap: 2rem;
    }

    &__content {
        width: 100%;
        height: 100%;
        z-index: 10;
        color: black;

        @include flex(center, center);
        flex-direction: column;
        gap: 10px;

        &-img {
            width: 60px;
            height: 60px;

            .is-logged-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
