@use "./scss/" as *;
.flex-view {
    display: flex;

    @include mobile {
        flex-direction: column-reverse;
    }
}

.flex-routes {
    min-height: 50vh;
    width: calc(100% - 4rem);

    @include mobile {
        width: 100%;
    }
}
