/* Color Theme Swatches in Hex */
$a1-hex: #06090d;
$a2-hex: #121b26;
$a3-hex: #253140;
$a4-hex: #364659;
$a5-hex: #485b73;

$color-text-2: #787878;
$color-text-1: #fff;

$mobile-width: 650px;
$mobile-p-width: 420px;

$tablet-width: 1024px;

$font-robo: "Roboto", sans-serif;
